@model LoginFormModel
<h1>Login</h1>
<form method="post">
    <div asp-validation-summary="ModelOnly" style="color:brown"></div>
    <label asp-for="Email"></label>
    <input asp-for="Email" type="email" value="koko@abv.bg" placeholder="xxx@abv.bg">
    <br />

    <label asp-for="Password"></label>
    <input asp-for="Password" value="koko12" type="password">
    <br />
    <input type="submit" value="Login" />
</form>
